/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

label {
  display: inline-block;
  min-width: 80px;
}

input {
  margin: 5px;
}
